# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
env/

# Secrets
.env
.env.*

# Generated Pipeline Directories
logs/
outputs/*.json
outputs/*.txt
outputs/*.csv
artifacts/
models/
mlruns/

# Model files
*.pkl
*.joblib
*.h5

# Packaging
*.egg-info/
build/
dist/

# IDE and Editor files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db
desktop.ini